@media (max-width: 1990px){
    header img{
        width: 700px;
    }

    header svg, header a{
        width: 80px;
        height: 80px;
    }

    h1, h2{
        font-size: 50px;
    }

    .character img{
        width: 500px;
        height: 500px;
    }

    .character::after{
        width: 550px;
        height: 550px;
    }

    .next{
        width: 150px;
        height: 60px;
    }

    .next:hover{
        width: 250px;
    }

    .next h3{
        font-size: 50px;
    }
}

@media (max-width: 1550px){
    header img{
        width: 450px;
    }

    header svg, header a{
        width: 70px;
        height: 70px;
    }
    
    h1, h2{
        font-size: 48px;
    }

    .character img{
        width: 400px;
        height: 400px;
    }

    .character::after{
        width: 450px;
        height: 450px;
    }

    .next{
        height: 45px;
    }

    .next h3{
        font-size: 44px;
    }
}

@media (max-width: 1200px){
    header{
        transform: translateY(10px);
    }

    header img{
        width: 350px;
    }

    header svg, header a{
        width: 60px;
        height: 60px;
    }
    
    h1, h2{
        font-size: 38px;
    }

    .character img{
        width: 325px;
        height: 325px;
    }

    .character::after{
        width: 375px;
        height: 375px;
    }

    .next{
        height: 40px;
    }

    .next h3{
        font-size: 34px;
    }
}

@media (max-width: 1000px) {
    header{
        transform: translateY(10px);
    }

    header svg, header a{
        width: 60px;
        height: 60px;
    }
    
    header img{
        width: 300px;
    } 
    
    .content{
         flex-direction: column;
     }

     .character, .info{
         width: 100%;
         height: 40%;
         margin-top: 50px;
     }
     
     .character img{
         width: 200px;
         height: 200px;
     }

     .character::after{
         width: 250px;
         height: 250px;
     }

     h1, h2{
         font-size: 30px;
     }

    .next h3{
    font-size: 35px;
    }

     header, footer{
         height: 50px;
     }
 }

 @media (max-width: 500px) {
     .character, .info{
         width: 100%;
         height: 40%;
         margin-top: 50px;
     }
     
     .character img{
         width: 180px;
         height: 180px;
     }

     .character::after{
         width: 230px;
         height: 230px;
     }

     h1, h2{
         font-size: 25px;
     }

     .next{
         height: 35px;
     }

    .next h3{
    font-size: 30px;
    }

     header, footer{
         height: 50px;
     }
 }